form {
  text-align: center;
}
.full, input {
  width: 100%;
}

a {
  text-decoration: none;
}

hr {
  outline: none;
  border-top: 1px solid $black;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.main {
  box-sizing: content-box;
  max-width: 610px;
  margin:0 auto;
  padding: 1em 5%;
}

  .inline-two {
    @extend .clearfix;
}