@media only screen and (min-width:320px) {
	.and {display:none;}
	h1 {
    @include font-shorthand(40px, normal, $base-line-height);
        margin-top: 15px;

	}
}
@media only screen and (min-width:480px) {

}
@media only screen and (min-width:768px) {
	.and {display:inline;}
	.inline-two {
	  input { width:45%;}
	  .and { width:10%;line-height: 70px;font-size: $base-font-size - 10;}
	  .first-of-two {float:left;}
	  .last-of-two {float:right;}
	}
	h1 {
	    @include font-shorthand(53px, normal, $base-line-height);
        margin-top: 25px;
	}

}
@media only screen and (min-width:1024px) {

}
@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media print, (-o-min-device-pixel-ratio: 5/4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {

}
