// Typography Settings

$baseline-rhythm: 10px !default;
$base-font-size: 28px !default;
$base-line-height: $baseline-rhythm * 4 !default;

$base-font-family: Georgia, serif !default;
$alternate-font-family: "HelveticaNeue-CondensedBold", "Open Sans Condensed", Arial, sans-serif !default;
$alternate-font-family2: "Helvetica Neue", Arial, sans-serif !default;
$button-font-family: 'IM Fell Great Primer SC', serif;
$header-font-family: 'IM Fell Great Primer SC', serif;
$mono-font-family: Consolas, "Andale Mono", "Lucida Console", monospace !default;
$button-font-family: Georgia !default;


// ===========
// =  Colors =
// ===========

$blue: #1e65d8;
$blueDarker: #0c4686;
$red: #d51f1b;
$redLight: #fe4e4c;
$blueLight: #43b2ec;
$blueLighter: #a7d4fb;
$orange: #fa8f4c;


// Grays
$black:                 #000 !default;
$grayDarker:            #222 !default;
$grayDark:              #333 !default;
$gray:                  #555 !default;
$grey:                  $gray !default;
$grayMedium:            #dcdcdc !default;
$grayLight:             #999 !default;
$grayLighter:           #eee !default;
$white:                 #fff !default;


$base-text-color: #4d4d4d !default;
$strong-text-color: black !default;
$weak-text-color: #3d3d3d !default;
$header-color: #000000 !default;
$blockquote-color: #666666 !default;
$footer-text-color: #929292 !default;
$link-color: $base-text-color !default;
$link-hover-color: #ff3300 !default;

$extra-light-screen-color: #d8d8d8 !default;
$light-rule-color: #dfdfdf !default;
